<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [5]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [7]:
# your code goes here
# Count the number of duplicate rows
print("Number of duplicate data points:", df.duplicated().sum())

Number of duplicate data points: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [9]:
# your code goes here
# Remove duplicate rows inplace
df.drop_duplicates(inplace=True)

# Print the shape of the DataFrame after removing duplicates
print("Shape of DataFrame after removing duplicates:", df.shape)

Shape of DataFrame after removing duplicates: (11398, 85)

Verify if duplicates were actually dropped.

In [12]:
# your code goes here
print("Number of duplicate data points:", df.duplicated().sum())

Number of duplicate data points: 0

## Finding Missing values

Find the missing values for all columns.

In [14]:
# your code goes here
# Check for missing values
missing_values = df.isnull().sum()

# Print columns with missing values
print("Columns with missing values:")
print(missing_values[missing_values > 0])

Columns with missing values:
OpenSource         81
Student            51
EdLevel           112
UndergradMajor    737
EduOther          164
                 ...
Sexuality         542
Ethnicity         675
Dependents        140
SurveyLength       19
SurveyEase         14
Length: 73, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [17]:
# your code goes here
# Count the number of missing values in the column 'WorkLoc'
missing_workloc = df['WorkLoc'].isnull().sum()

print("Number of rows missing in the column 'WorkLoc':", missing_workloc)

Number of rows missing in the column 'WorkLoc': 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [31]:
# your code goes here
# Find the value counts for the column WorkLoc
workloc_value_counts = df['WorkLoc'].value_counts()
workloc_value_counts

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [34]:
#make a note of the majority value here, for future reference
## Identify the most frequent (majority) value in the WorkLoc column
majority_value = workloc_value_counts.idxmax()
majority_value

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [36]:
# your code goes here
# Impute (replace) all the empty rows in the column WorkLoc with the majority value
df['WorkLoc'].fillna(majority_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [38]:
# your code goes here
missing_workloc_after_imputation = df['WorkLoc'].isnull().sum()
print("Number of missing values in the WorkLoc column after imputation:", missing_workloc_after_imputation)

Number of missing values in the WorkLoc column after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [43]:
# your code goes here
# List out the various categories in the column 'CompFreq'
comp_freq_categories = df['CompFreq'].unique()

print("Categories in the column 'CompFreq':")
print(comp_freq_categories)

Categories in the column 'CompFreq':
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [48]:
# your code goes here
# Create a new column 'NormalizedAnnualCompensation'
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Display the first few rows of the DataFrame to verify the new column
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).